spring:
  application:
    name: user
  config:
    import: optional:file:.env[.properties]
  datasource:
    url: jdbc:h2:file:./h2/demo;AUTO_SERVER=TRUE;AUTO_RECONNECT=TRUE
    driverClassName: org.h2.Driver
    username: user
    password: password
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
jwt:
  secret: ${MY_SECRET}
